<!-- Google tag (gtag.js) -->
{% if google_id_tag %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ google_id_tag }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ google_id_tag }}');
</script>
{% endif %}

<!-- Google AdSense -->
{% if google_adsense_id %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ google_adsense_id }}"
        crossorigin="anonymous"></script>
{% endif %}
