<link rel="stylesheet" href="{{ url_for('assets', path='/css/spacing.css') }}" >
<link rel="stylesheet" href="{{ url_for('assets', path='/css/bootstrap.min.css') }}" >
<link rel="stylesheet" href="{{ url_for('assets', path='/css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('assets', path='/css/animate.min.css') }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ url_for('assets', path='/css/magnific-popup.css') }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ url_for('assets', path='/css/fontawesome-all.min.css') }}"  media="print" onload="this.media='all'">
<!--<link rel="stylesheet" href="{{ url_for('assets', path='/css/imageRevealHover.css') }}">-->
<link rel="stylesheet" href="{{ url_for('assets', path='/css/swiper-bundle.css') }}"  media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ url_for('assets', path='/css/flaticon.css') }}"  media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ url_for('assets', path='/css/slick.css') }}"  media="print" onload="this.media='all'">
