<link rel="stylesheet" href="{{ url_for('assets', path='/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('assets', path='/css/animate.min.css') }}">
<link rel="stylesheet" href="{{ url_for('assets', path='/css/magnific-popup.css') }}">
<link rel="stylesheet" href="{{ url_for('assets', path='/css/fontawesome-all.min.css') }}">
<link rel="stylesheet" href="{{ url_for('assets', path='/css/imageRevealHover.css') }}">
<link rel="stylesheet" href="{{ url_for('assets', path='/css/swiper-bundle.css') }}">
<link rel="stylesheet" href="{{ url_for('assets', path='/css/flaticon.css') }}">
<link rel="stylesheet" href="{{ url_for('assets', path='/css/slick.css') }}">
<link rel="stylesheet" href="{{ url_for('assets', path='/css/spacing.css') }}">
<link rel="stylesheet" href="{{ url_for('assets', path='/css/main.css') }}">