<footer class="footer-area black-bg">
    <div class="container">
        <div class="footer__logo-wrap">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4">
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright__text">
                        <p>{{ footer.config.copyright }} <span>@{{site_name}}</span> - 2024</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="copyright__menu">
                        <ul class="list-wrap">
                            <li><a href="/{{language}}/contact_us">{{ footer.config.contact_us }}</a></li>
                            <li><a href="/{{language}}/terms_of_use">{{ footer.config.terms_of_use }}</a></li>
                            <li><a href="/{{language}}/about_us">{{ footer.config.about_us }}</a></li>
                            <li><a href="/{{language}}/privacy_policy">{{ footer.config.privacy_policy }}</a></li>
                            <li><a href="/sitemap.xml">{{ footer.config.sitemap }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
