<script src="{{ url_for('assets', path='js/vendor/jquery-3.6.0.min.js') }}" defer></script>
<script src="{{ url_for('assets', path='js/bootstrap.min.js') }}" defer></script>
<script src="{{ url_for('assets', path='js/isotope.pkgd.min.js') }}" defer></script>
<script src="{{ url_for('assets', path='js/imagesloaded.pkgd.min.js') }}" defer></script>
<script src="{{ url_for('assets', path='js/jquery.magnific-popup.min.js') }}" defer></script>
<script src="{{ url_for('assets', path='js/jquery.marquee.min.js') }}" defer></script>
<script src="{{ url_for('assets', path='js/imageRevealHover.js') }}" defer></script>
<script src="{{ url_for('assets', path='js/swiper-bundle.js') }}" defer></script>
<script src="{{ url_for('assets', path='js/TweenMax.min.js') }}" defer></script>
<script src="{{ url_for('assets', path='js/slick.min.js') }}" defer></script>
<script src="{{ url_for('assets', path='js/ajax-form.js') }}" defer></script>
<script src="{{ url_for('assets', path='js/wow.min.js') }}" defer></script>
<script src="{{ url_for('assets', path='js/main.js') }}" defer></script>