body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    margin: 0;
}

.language-selector {
    text-align: center;
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

li h2 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
    color: #333;
    text-align: center;
    word-break: break-all;
}

li .content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 4.5em;
}

li p {
    font-size: 0.9em;
    color: #666;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.back-link a {
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}
.back-link {
    text-align: center;
    margin: 20px;
}