<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {{ footer.config.contact_us }}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('assets', path='/img/favicon.png') }}">
    <meta name="description" content="{{ footer.description.contact_us }}">

    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/imageRevealHover.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/swiper-bundle.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/spacing.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/main.css') }}">


</head>
<body>

<!-- header-area -->
{% include 'base/header.html' %}

<!-- header-area-end -->
<section class="blog-details-area pt-80 pb-100">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-xl-8 col-lg-7">
                    <div class="blog-details-wrap">

                        <div class="blog-details-thumb">

                        </div>



                        <div class="blog-details-content">
                            {% for key in content %}

<!--                            <h3>{{ content[key].name }} {{ content[key].surname }}</h3>-->
<!--                            <div class="tgAbout-thumb" style="height:140px ">-->
<!--                                        <img src="{{ url_for('assets', path=content[key].image ) }}"  style="height:100%" alt="me">-->
<!--                            </div>-->
<!--                            <h4>{{ content[key].position }}</h4>-->
<!--                            <p> {{ content[key].about_me }}</p>-->
<!--                            <p> {{ content[key].feature }}</p>-->
                             <div class="tgAbout-me">
                                    <div class="tgAbout-thumb" style="height:140px ">
                                        <img src="{{ url_for('assets', path=content[key].image) }}"  style="height:100%" alt="me">
                                    </div>
                                    <div class="tgAbout-info">
                                        <p class="intro">{{ content[key].position }} <span>{{ content[key].name }} {{ content[key].surname }}</span></p>
                                        <span class="designation">{{ content[key].about_me }}</span>
                                    </div>
                                </div>
                                <br>
                            {% endfor %}
                        </div>
                             <div class="tgAbout-me">
                              <h1>{{ footer.config.contact_us }}</h1>

                            <form action="/send" method="post">
                                <label for="name">Name:</label>
                                <br>
                                <input type="text" id="name" name="name" required><br><br>

                                <label for="email">Email:</label>
                                <br>
                                <input type="email" id="email" name="email" required><br><br>

                                <label>Message:</label>
                                <textarea id="message" name="message" required rows="8" style="width: 100%;"></textarea><br><br>

                                <button type="submit">Отправить</button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </section>
{% include 'base/java_script.html' %}

</body>
{% include 'base/footer.html' %}

</html>