<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {{ footer.config.privacy_policy }}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ footer.description.privacy_policy }}">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('assets', path='/img/favicon.png') }}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/imageRevealHover.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/swiper-bundle.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/spacing.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/main.css') }}">


</head>
<body>

<!-- header-area -->
{% include 'base/header.html' %}

<!-- header-area-end -->
<section class="blog-details-area pt-80 pb-100">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-xl-8 col-lg-7">
                    <div class="blog-details-wrap">

                        <h1 class="title">{{ footer.description.privacy_policy }}</h1>
                        <div class="blog-details-thumb">

                        </div>
                        <div class="blog-details-content">
                            {{ content | safe}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
<script src="{{ url_for('assets', path='js/bootstrap.min.js') }}"></script>
{% include 'base/java_script.html' %}

</body>
{% include 'base/footer.html' %}

</html>