<!doctype html>
<html class="no-js" lang="{{language}}">

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "url": "{{ site_domain | safe}}/{{ language }}/{{ languages_dict[language] }}",
        "publisher": {
            "@type": "Organization",
            "name": "iTeo"
        },
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ site_domain | safe}}/{{ language }}/{{ languages_dict[language] }}",
            "name": "{{ article.seo_title | safe }}"
        },
        "headline": "{{ article.seo_title | safe}}",
        "articleBody": "{{ article.rewritten_content | replace('\"', '') | safe}}",
        "image": "{{ site_domain | safe}}{{ article.image | safe }}",
        "author": {
            "@type": "Person",
            "name": "{{ author | safe}}"
        },
        "keywords": "{{ article.tags | safe}}",
        "datePublished": "{{ correct_time }}",
        "articleSection": "{{ article.category[0] | safe}}"
    }
</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@type": "WebPage",
                    "@id": "{{ site_domain }}/{{language}}",
                    "name": "{{ info_translate.home }}"
                }
            },
            {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@type": "WebPage",
                    "@id": "{% if article.category and article.category[0] %}{{ site_domain }}/{{ language }}/{{ article.category[0] }}{% else %}{{ site_domain }}/other{% endif %}",
                    "name": "{% if article.category and article.category[0] and article.category[1] and article.category[0] in article.category[1] %}{{ article.category[1][article.category[0]].translated_name | default('Other') }}{% else %}Other{% endif %}"
                }
            },
            {
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@type": "WebPage",
                    "@id": "{% if article.category and article.category[0] %}{{ site_domain }}/{{ language }}/{{ article.category[0] }}/{{ article.url_part }}{% else %}{{ site_domain }}/other/{{ article.url_part }}{% endif %}",
                    "name": "{{ article.seo_title }}"
                }
            }
        ]
    }
</script>


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% if article.seo_title %}
        {{ article.seo_title }}
        {% else %}
        Default Title
        {% endif %}
        {% if article.category and article.category[0] and article.category[1] and article.category[0] in
        article.category[1] %}
        | {{ article.category[1][article.category[0]].translated_name | capitalize }}
        {% else %}
        | {{ site_name }}
        {% endif %}
    </title>
    <meta name="description" content="{{ article.seo_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'base/analytics_tag.html' %}


    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('assets', path='/img/favicon.png') }}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    {% include 'base/css.html' %}

    {% for lang in languages_dict %}
    {% if languages_dict[lang] is not none %}
    <link rel="alternate" href="{{ site_domain }}/{{ lang }}/{{ languages_dict[lang] }}" hreflang="{{ lang }}">
    {% endif %}
    {% endfor %}


</head>

<body>

<!-- preloader -->
<!--<div id="preloader">-->
<!--    <div id="loading-center">-->
<!--        <div id="loading-center-absolute">-->
<!--            <div class="object" id="object_one"></div>-->
<!--            <div class="object" id="object_two"></div>-->
<!--            <div class="object" id="object_three"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- preloader-end -->

<!-- Scroll-top -->
<!--<button class="scroll__top scroll-to-target" data-target="html">-->
<!--    <i class="fas fa-angle-up"></i>-->
<!--</button>-->
<!-- Scroll-top-end-->

<!-- header-area -->
{% include 'base/header.html' %}

<!-- header-area-end -->


<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/{{language}}">{{info_translate.home}}</a></li>
                                <li class="breadcrumb-item">
                                    {% if article.category and article.category[0] and article.category[1] and
                                    article.category[0] in article.category[1] %}
                                    <a href="/{{ language }}/{{ article.category[0] }}">
                                        {{ article.category[1][article.category[0]].translated_name | default('Other')
                                        }}
                                    </a>
                                    {% else %}
                                    <a href="/">
                                        Other
                                    </a>
                                    {% endif %}
                                </li>

                                <li class="breadcrumb-item active" aria-current="page">{{article.seo_title}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- blog-details-area -->
    <section class="blog-details-area pt-80 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-1">
                    <div class="blog-details-social">
<!--                        <ul class="list-wrap">-->
<!--                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>-->
<!--                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>-->
<!--                            <li><a href="#"><i class="fab fa-behance"></i></a></li>-->
<!--                            <li><a href="#"><i class="fas fa-share"></i></a></li>-->
<!--                        </ul>-->
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="blog-details-wrap">
                        <ul class="tgbanner__content-meta list-wrap">
                            <li class="category">
                                {% if article.category and article.category[0] and article.category[1] and
                                article.category[0] in article.category[1] %}
                                <a href="/{{ language }}/{{ article.category[0] }}">
                                    {{ article.category[1][article.category[0]].translated_name | default('Other') }}
                                </a>
                                {% else %}
                                <a href="/">
                                    Other
                                </a>
                                {% endif %}
                            </li>

                            <li><span class="by">{{info_translate.by}} </span> <a href="/{{language}}">{{ author}}</a>
                            </li>
                            <li>{{ article.date_published }}</li>
                        </ul>
                        <h1 class="title">{{ article.seo_title }}</h1>
                        <div class="blog-details-thumb">
                            <div>
                                <img rel="preload" src="{{ article.image }}" alt="{{ article.seo_title }}" >
                            </div>
                        </div>
                        <div class="blog-details-content">
                            <p>{{ article.rewritten_content | safe}} </p>
                        </div>
                        <div class="blog-details-bottom">
                            <div class="row align-items-baseline">
                                <div class="blog-details-tags">
                                    <ul class="list-wrap mb-0">
                                        {% for tag in tags %}
                                        <li><a href="">{{tag}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        {% set current_url_part = article.url_part %}

                        <div class="blog-prev-next-posts">
                            <div class="row">
                                {% set prev_index = 0 %}
                                {% set next_index = 1 %}

                                {# Check if the previous post has the same url_part as the current one #}
                                {% if previous_and_next_news[prev_index].url_part == current_url_part %}
                                {% set prev_index = prev_index + 2 %}
                                {% endif %}

                                {# Check if the next post has the same url_part as the current one #}
                                {% if previous_and_next_news[next_index].url_part == current_url_part %}
                                {% set next_index = next_index + 2 %}
                                {% endif %}

                                <div class="col-xl-6 col-lg-8 col-md-6">
                                    <div class="pn-post-item">
                                        <div class="thumb">
                                            <a href="/{{ language }}/{{ previous_and_next_news_1.category }}/{{ previous_and_next_news_1.url_part }}">
                                                <img src="{{ previous_and_next_news_1.image }}"
                                                     alt="{{ previous_and_next_news_1.seo_title }}">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <span>{{info_translate.prev_post}} </span>
                                            <h5 class="title tgcommon__hover">
                                                <a href="/{{ language }}/{{ previous_and_next_news_1.category }}/{{ previous_and_next_news_1.url_part }}">
                                                    {{ previous_and_next_news_1.seo_title[:45] }}{% if
                                                    previous_and_next_news_1.seo_title|length > 45 %}...{% endif %}
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-8 col-md-6">
                                    <div class="pn-post-item next-post">
                                        <div class="thumb">
                                            <a href="/{{ language }}/{{ previous_and_next_news_2.category }}/{{ previous_and_next_news_2.url_part }}">
                                                <img src="{{ previous_and_next_news_2.image }}"
                                                     alt="{{ previous_and_next_news_2.seo_title }}">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <span>{{info_translate.next_post}} </span>
                                            <h5 class="title tgcommon__hover">
                                                <a href="/{{ language }}/{{ previous_and_next_news_2.category }}/{{ previous_and_next_news_2.url_part }}">
                                                    {{ previous_and_next_news_2.seo_title[:45] }}{% if
                                                    previous_and_next_news_2.seo_title|length > 45 %}...{% endif %}
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <aside class="blog-sidebar">
                        <div class="widget sidebar-widget">
                            <div class="tgAbout-me">
                                <div class="tgAbout-thumb" style="height:140px ">
                                    <img src="{{ url_for('assets', path=copywriter.image) }}"
                                         style="height:100%" alt="me">
                                </div>
                                <div class="tgAbout-info">
                                    <p class="intro">{{info_translate.content_writer_text}}
                                        <span>{{copywriter.name}}</span></p>
                                    <span class="designation">{{info_translate.content_writer}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="widget sidebar-widget widget_categories">
                            <h4 class="widget-title">{{info_translate.trending_topic}}</h4>
                            <ul class="list-wrap">
                                {% for category, data in trending_categories.items() %}
                                <li>
                                    <!-- <div class="thumb"><a href="blog.html"><img src="{{ url_for('assets', path='/img/category/side_category01.jpg') }}" alt="img"></a></div> -->
                                    <a href="/{{ language }}/{{ category }}">{{ data.translated_name }}</a>
                                    <span class="float-right">{{ data.count }}</span>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="widget sidebar-widget">
                            <div class="sidePost-active">
                                {% for trending_article in trending_news%}
                                <div class="sidePost__item" data-background="{{trending_article.image}}">
                                    <div class="sidePost__content">
                                        <a href="/{{ language }}/{{trending_article.category[0]}}" class="tag"></a>
                                        <h5 class="title tgcommon__hover"><a
                                                href="/{{ language }}/{{trending_article.category[0]}}/{{trending_article.url_part}}">{{trending_article.seo_title}}</a>
                                        </h5>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-details-area-end -->

</main>
<!-- main-area-end -->


<!-- footer-area -->
{% include 'base/footer.html' %}
<!-- footer-area-end -->

<!-- JS here -->
{% include 'base/java_script.html' %}

</body>

</html>