<!DOCTYPE html>
<html>
<head>
    <title>About {{ articles[0].category }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('assets', path='/news_list.css') }}">
     <script src="{{ url_for('assets', path='/language_switcher.js') }}"></script>
</head>
<body>
    <h1>{{ articles[0].category }}</h1>
    <div class="language-selector">
        <select onchange="changeLanguage(this.value)">
            {% for lang in languages %}
            <option value="{{ lang }}" {% if language == lang %}selected{% endif %}>{{ lang }}</option>
            {% endfor %}
        </select>
    </div>
    <ul>
        {% for item in articles %}
        <li>
            <img src="{{ item.image }}" alt="Image for {{ item.seo_title }}">
            <a href="/{{ language }}/{{ item.topic }}/{{ item.url_part }}/detail">
                <h2>{{ item.seo_title }}</h2>
            </a>
            <div class="content">{{ item.rewritten_content | safe }}</div>
            <p>Date Published: {{ item.date_published }}</p>
        </li>
        {% endfor %}
    </ul>
    <div class="back-link">
        <a href="/{{ language }}/{{ articles[0].topic }}">Back to News List</a>
    </div>
</body>


</html>
