<!DOCTYPE html>
<html>
<head>
    <title>News Content</title>
</head>
<body>
    <h1>News Content</h1>
    <ul>
        {% for item in articles %}
        <li>
            <a href="/{{ item.language | language_name  }}/content/{{ item.topic }}/{{ item.url_part }}"><h2>{{ item.seo_title }}</h2></a>
            {{ item.rewritten_content | safe }}
            <img src="{{ item.image }}" alt="Image for {{ item.seo_title }}">
            <p>Date Published: {{ item.date_published }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
